{% extends 'Base.html' %}
{% block login %}
{% load static %}
<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-sm-5">
          <h3 class="mt-5 ml-4"> User Signup </h3>
            <form action="" method="post" class="form-control bg-dark">
                {% csrf_token %}
                  <div class="mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username or Mail">
                  </div>
                  <div class="mb-3">
                    <input type="password"  class="form-control" id="password" name="password" placeholder="Enter Password "></textarea>
                  </div> 
                <button type="submit" value="login" class="btn btn-warning">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}